body {
  background-color: #f3f4f6;
}

.calendar-container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f0f0f;
  }
}

body,
html {
  overflow: hidden;
  border: none;
}
